/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #97c6dc;
    padding: 1rem;
  }
  
  /* .ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .li {
    margin-right: 1.5rem;
    cursor: pointer;} */
  
  /* .h1{
    margin: 0;
    font-size: 1.5rem;
  }  */